.navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 8vh;
    border: 1px solid black;
    img {
        width: 90px;
        height: 50px;
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: end;
        li {
            list-style: none;
            margin: 5%;
        }
    }
}
